@import 'public/styles/typography.scss';
@import 'public/styles/variables.scss';
@import 'public/styles/ui-elements.scss';

.phoneInput {
  & > div {
    display: none;
  }
  input {
    @include input();
    text-indent: 40px;
    padding-bottom: 5px;

    @media (max-width: $iphone5) {
      height: 25px;
      line-height: 25px;
      font-size: 15px;
    }
  }
}

.phoneInputWrapper {
  position: relative;
}

.icon {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;

  @media (max-width: $iphone5) {
    height: 15px;
    top: 2px;
  }
}

.placeholder::after {
  @include montserrat-regular();
  position: absolute;
  left: 92px;
  bottom: 6px;
  content: attr(data-placeholder);
  font-size: 18px;
  line-height: 28px;
  color: $athensGray;
}
