@import 'public/styles/typography.scss';
@import 'public/styles/ui-elements.scss';

.blue {
  background: $ming;
  color: $white;
  @include btn();
  &:hover {
    background: $casal;
  }

  &:disabled {
    background: $botticelli;
  }
}

.white {
  @include btn();
  background-color: $white;
  color: $ming;
  border: 1px solid $ming;
}

.fluid {
  width: 100%;
}

.text {
  line-height: 12px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  @include montserrat-semibold();

  @media (max-width: $iphone5) {
    font-size: 10px;
  }
  @media (max-width: $iphone6s) {
    font-size: 12px;
  }
}
