@import 'public/styles/variables';
@import 'public/styles/typography';

.wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    background: linear-gradient(40.95deg, $ming 0%, $rockBlue 65.96%);
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  width: 100%;
}

.projectName {
  @include montserrat-bold();
  font-size: 36px;
  color: $white;
  text-transform: uppercase;
  padding-top: 7%;
  padding-left: 6%;

  @media (max-width: $iphone5) {
    font-size: 30px;
  }
}

.popup {
  position: relative;
  background: $white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 8% 8% 7% 8%;
  height: 64%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companyInfo {
  display: flex;
  width: 100%;
}

.companyImage {
  display: flex;
  max-width: 62px;
  height: auto;
  margin-right: 8px;

  @media (max-width: $iphone6) {
    max-width: 55px;
  }
}

.companyTitles {
  color: $codGray;
  position: relative;
  top: 1px;

  .name {
    @include montserrat-semibold();
    font-size: 14px;
    line-height: 16px;
  }

  .managerTitle {
    @include montserrat-regular();
    font-size: 11px;
    line-height: 16px;
  }

  @media (max-width: $iphone6) {
    .name {
      font-size: 16px;
    }

    .managerTitle {
      font-size: 13px;
    }
  }

  @media (max-width: $iphone5) {
    .name {
      font-size: 14px;
    }

    .managerTitle {
      font-size: 12px;
    }
  }

  @media (max-width: $iphone6s) {
    .name {
      font-size: 16px;
    }

    .managerTitle {
      font-size: 13px;
    }
  }
}

.comment {
  text-align: justify;
  position: relative;
  padding-left: 4%;
  display: flex;
  margin-top: 4%;
  padding-top: 4%;
  border-top: 1px solid $athensGray;
  color: $codGray;
  font-size: 12px;
  line-height: 18px;
  @include montserrat-regular();
  margin-bottom: 7%;

  p {
    position: relative;
  }
  p::before {
    content: '';
    position: absolute;
    left: -4%;;
    top: 6%;;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: $ming;
  }

  @media (max-width: $iphone6s) {
    font-size: 13px;
    line-height: 18px;
    padding-left: 6%;
    p::before {
      left: -6%;;
    }
  }

  @media (max-width: $iphone6) {
    line-height: 15px;
    font-size: 12px;
  }


  @media (max-width: $iphone5) {
    padding-left: 8%;
    line-height: 16px;
    margin-bottom: 6%;
    font-size: 12px;
    p::before {
      left: -6%;;
    }
  }
}

.firstBtn {
  margin-bottom: 4%;
}

.girlWithLaptop {
  width: auto;
  height: 235px;
  position: absolute;
  right: 0;
  transform: translate(0, -95%);

  @media (max-width: $iphone5) {
    height: 160px;
  }
}

.companyName {
  position: absolute;
  bottom: 7%;
}
