@import 'public/styles/typography.scss';
@import 'public/styles/variables.scss';

.question {
  text-decoration: none;
  margin-right: 2px;
    display: inline;
}

.comment {
  margin-top: 5px;
}

.backIcon {
  position: absolute;
}
