@import 'public/styles/variables';
@import 'public/styles/typography';

.wrapper {
  height: 100vh;
  background: linear-gradient(155.43deg, $powder 7.29%, $wedgewood 96.12%);
  text-align: center;
}

.companyName {
  padding-top: 30px;
  color: $white;
}

.text {
  margin-top: 10%;
  @include montserrat-semibold();
  color: $white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.first {
  font-size: 26px;
  margin-bottom: 20px;
}

.second {
  font-size: 16px;
}

.img {
  max-height: 500px;
  width: auto;
  margin-bottom: 40px;
}
