@import 'public/styles/typography.scss';
@import 'public/styles/variables.scss';

.modal {
  min-height: 65vh;

  margin-top: 10vh;
  margin-left: 17px;
  margin-right: 17px;

  border-radius: 20px;
  background: $white;
  padding: 20px 24px;
  box-shadow: 0 0 37px 0 #5C849A12;
  position: relative;

  @media (max-width: $iphone5) {
    padding: 20px 24px;
  }
}
