@mixin min-vw($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin max-vw($breakpoint) {
  @media (max-width: $breakpoint - 1px) {
    @content;
  }
}

@mixin min-vh($breakpoint) {
  @media (min-height: $breakpoint) {
    @content;
  }
}

@mixin max-vh($breakpoint) {
  @media (max-height: $breakpoint) {
    @content;
  }
}

@mixin cut-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin only-hover() {
  @media (hover: hover) {
    @content;
  }
}

@mixin absolute-stretch($top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: absolute;
  content: "";
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}
