// COLORS
$ming: #40798C;
$rockBlue: #96BFCD;
$green: #0da018;
$white: white;
$codGray: #121212;
$athensGray: #EBEFF2;
$silver: #BDBDBD;
$mercury: #E5E5E5;

// BREAKPOINTS:
$iphone5: 320px;
$iphone6: 375px;
$iphone6s: 414px;

// RADIUS

$btnRadius: 10px;
