// COLORS
$ming: #40798C;
$rockBlue: #96BFCD;
$green: #0da018;
$white: white;
$codGray: #121212;
$athensGray: #EBEFF2;
$silver: #BDBDBD;

// BREAKPOINTS:
$xs: 320px;
$sm: 500px;


// RADIUS

$btnRadius: 10px;
